@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Press+Start+2P&display=swap');

// 装飾用クラス
.textfont{
    font-family: "DotGothic16";
}
.high{
    color: #FF3131;
}
.low{
    color: #00C2FF;
}
.Ikebukuro{
    color: #FF3131;
    border-color: #FF3131;
}
.Yokohama{
    color: #3190FF;
    border-color: #3190FF;
}
.Shibuya{
    color: #FFEB3C;
    border-color: #FFEB3C;
}
.Shinjuku{
    color: #B4B4B4;
    border-color: #B4B4B4;
}
.Nagoya{
    color: #C82DFF;
    border-color: #C82DFF;
}
.Osaka{
    color: #FF7715;
    border-color: #FF7715;
}


*{
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body{
    background-color: #2E2E2E;
    color: #fff;
    font-size: 1.6em;
    font-family: 'Press Start 2P','DotGothic16', sans-serif;
}

main{
    width: 90%;
    margin: 1rem auto;
    text-align: center;
}

.date_area{
    font-size: 3.2rem;
    letter-spacing: 2px;
}

.city_area{
    margin: 2rem 0 5.4rem;
}

.main_area{
    display: flex;
    justify-content: center;
    align-items: center;

    .weather_img {
        width: 17rem;
        & img{
            width: 100%;
        }
    }

    .weather_temp {
        display: flex;
        flex-direction: column;
    
        .temp{
            font-size: 4.8rem;
            margin-bottom: 1rem;
            margin-left: 3rem;
        }
    }
}

.icons_area {
    display: flex;
    justify-content: space-evenly;
    width: 65%;
    margin: 4rem auto;
    font-size: 2rem;
}

.button_area {
    margin-top: 2rem;

    button.btn_city {
        width: 12rem;
        height: 7rem;
        background-color: #2E2E2E;
        border: solid 2px;
        margin: 1rem;
        border-radius: 1rem;
    }
}

.license{
    width: 80%;
    font-size: 0.8rem;
    margin: 5rem auto 0;
}